<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063713934818-vke7dgrm44bcpnn31odqem7b4gkqkrjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063713934818-vke7dgrm44bcpnn31odqem7b4gkqkrjr</string>
	<key>API_KEY</key>
	<string>AIzaSyANZDhM3zj0ld-hVbXkCNGL8P3eb-zR_94</string>
	<key>GCM_SENDER_ID</key>
	<string>1063713934818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wage</string>
	<key>PROJECT_ID</key>
	<string>uni-incubator</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-incubator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063713934818:ios:17be2cd34afbf5af46bdbb</string>
</dict>
</plist>